@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css');


body{
    margin: 0;
    padding: 0;
    background-color: #c8dbc6;
}

header{
    /* border: 1px solid #333; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url("img/23966.jpg") no-repeat center/cover;
}

img{
    width: 150px;
}

h1{
    align-self:flex-end;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    color: white;
}

#header-ul{
list-style: none;
text-align: right;
align-self: flex-end;
margin-bottom: 10px;
font-family:'Courier New', Courier, monospace;
color: white;
}

/* nav{
    border: 1px solid #333;
    background-color: #c8dbc6;
    width: 300px;
} */

#nav-ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-item{
    padding: 10px 15px;
    /* background-color: #c8dbc6; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    transition: 0.5s;
}

.nav-item:hover{
    background-color: #dfebde;
}

.nav-link{
    text-decoration: none;
    color: #333;
}

main{
    /* border: 1px solid #333; */
    display: flex;
    background-color: #dfebde;    
}

sidebar{
    /* border: 1px solid #333; */
    align-self: center;
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    padding: 10px;
    text-align: center;
}
sidebar:hover{
    position: fixed;
    background-color: #dfebde;
    width: 100%;
    height: 18%;
    transition: 1s;
    padding-top: 70px;
}

section{
    /* border: 1px solid #333; */
    padding: 10px;
    background-color: #c8dbc6;
    border-radius: 0px 0px 8px 8px;
}

p{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    /* border: 1px solid #333; */
    padding: 10px;
    position: relative;
    bottom: 0;
    justify-items: center;
}
h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 1em;
    margin-top: 10px;
}